.title
{
    font-family: "ו";
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
    background-position: center;
    text-align: center
}

body
{
    font-family: "ו";
    font-size: 12px;
    color: #808080;
    scrollbar-base-color: #ECE9D8;
    text-align: left;
}

table
{
    border-collapse: collapse;
}

form
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

td.checkbox
{
    height: 22px;
    width: 20px;
    background-color:#F5F3EB;
    border: #FFFFFF solid 1px;
}

td.column
{
    height: 22px;
    background-color:#E6E6FA;
    border: #FFFFFF solid 1px;
    padding-left: 5px;
    padding-right: 5px;
}

table.tablebox
{
    margin:4px 0px;
    border:1px solid #473C74;
    padding:2px;
    width:100%;
    line-height:normal;
}

table.tableinput
{
    margin-top:2px;
}

td.TDTitle
{
	background-color:#EEF5F2;
    height: 25px;
    font-size: 12px;
    font-weight:bold;
    text-align:right;
    width:100px
}

td.TDZdzx
{
	background-color:#EEF5F2;
	border-right:#C8B9AE solid 1px;
	border-bottom:#C8B9AE solid 1px;
	padding:8px 8px 4px;
	vertical-align: top;
	font-size: 13px;
	font-weight: bold;
}

td.TDLeft
{
	background-color:#EEF5F2;
    height: 25px;
    font-size: 12px;
    font-weight:normal;
}

.ckjyTitle
{
	background-color:#EEF5F2;
    height: 25px;
    font-size: 12px;
    font-weight:bold;
    text-align:right;
    width:20%;
}

.ckjy_cardname2
{
    position: absolute;
    width: 100%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	
	height:60px;
}

.ckjy_cardname
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

td.TDRight
{
    height: 25px;
    font-size: 12px;
    font-weight:normal;
    text-align:right
}

td.TDLeft span
{
    font-weight: bold;
    color: #CC0000;
}

.button
{

}

.button img
{
    height:16px;
    margin-top:1px;
    margin-left:0px;
    margin-right:2px;
}

.zdzxname
{
    background-color: #F5F3EB;
    width:100%;
    height:26px;
    text-align:left;
    color: #ACA899;
    padding: 2px;
    border-collapse: collapse;
}


TD{COLOR: #333333; FONT-SIZE: 9pt; LINE-HEIGHT: 13pt}

.cardname
{

	background-color: #DAF3F0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	
	/*
    background-color: #DAF3F0;
    width:100%;
    height:26px;
    text-align:left;
    color: #ACA899;
    padding: 2px;
    border-collapse: collapse;
    border="0"; 
    align="center"; 
    cellpadding="0"; 
    cellspacing="0";
    */
    
    
}

.cardnameleft
{
    text-align:left;
    height:26px;
    padding-left: 10px
}

.cardnamecenter
{
    text-align:center;
    height:26px;
    padding-left: 10px
}

.cardnameright
{
    text-align:right;
    height:26px;
    padding-right: 10px
}

.cardcondition
{
    width:100%;
    text-align:left;
    border: #ACA899 solid 1px;
    padding: 4px
}

.cardbody
{
    width:100%;
    text-align:left;
    border: #ACA899 solid 1px;
    padding: 4px
}

.queryresult
{
    width:100%;
    height: 183px;
    text-align:left;
    margin-top: 4px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    border: #ACA899 solid 1px;
}

.queryresult_song
{
    width:100%;
    height: 300px;
    text-align:left;
    margin-top: 4px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    border: #ACA899 solid 1px;
}

.bb_queryresult
{
    width:100%;
    height:400px;
    text-align:left;
    margin-top: 4px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    border: #ACA899 solid 1px;
}

td.column
{
    height: 22px;
    background-color:#EEF5F2;
    border: #FFFFFF solid 1px;
    padding-left: 5px;
    font-size: 13px;
    padding-right: 5px;
}

table.tablebox
{
    margin:4px 0px;
    border:1px solid #473C74;
    padding:2px;
    width:100%;
    hight:4px;
    line-height:normal;
    table-layout: fixed;
    word-wrap:break-word;
}

.zdzxname
{
    background-color: #B0E0E6;
    width:100%;
    height:26px;
    text-align:left;
    color: #ACA899;
    padding: 2px;
    border-collapse: collapse;
}


.input
{
    background-color:#F5F3EB;
    color:#808080;
    border-style:solid;
    border-width:1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 5px;
    margin-right: 5px
}

.inputreadonly
{
    background-color:#F5F3EB;
    border-width:0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 5px;
    margin-right: 5px
}

.prompt
{
    padding: 5px;
    font-size:14px;
}

a
{
    color: #808080;
    font-weight: bold;
}

a:hover
{
    color: #808080;
    font-weight: bold;
    cursor:hand;
    text-decoration: none
}

a:link
{
    color: #808080;
    text-decoration: none
}

a:visited
{
    text-decoration: none
}

a:active
{
    color: #808080;
    text-decoration: none
}

.scrollarea
{
    overflow:auto;
    height:110px;
    text-align:left;
    border-top: #ACA899 solid 1px;
    border-left: #ACA899 solid 1px;
    border-right: #ACA899 solid 1px;
    border-bottom: #ACA899 solid 1px;
    margin-top: 2px;
}

.scrollarea_song
{
    
    text-align:left;
    border-top: #ACA899 solid 1px;
    border-left: #ACA899 solid 1px;
    border-right: #ACA899 solid 1px;
    border-bottom: #ACA899 solid 1px;
    margin-top: 2px;
}

.scrollarea2
{
    overflow:auto;
    height:195px;
    font-size:14px;
    text-align:left;
    border-top: #ACA899 solid 1px;
    border-left: #ACA899 solid 1px;
    border-right: #ACA899 solid 1px;
    border-bottom: #ACA899 solid 1px;
    margin-top: 2px;
}
.inputarea
{
    overflow:no;
    height:320px;
    text-align:left;
    border-top: #ACA899 solid 1px;
    border-left: #ACA899 solid 1px;
    border-right: #ACA899 solid 1px;
    border-bottom: #ACA899 solid 1px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.inputarea_ck
{
    overflow:no;
    text-align:left;
    border-top: #ACA899 solid 1px;
    border-left: #ACA899 solid 1px;
    border-right: #ACA899 solid 1px;
    border-bottom: #ACA899 solid 1px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.tip
{
    position: absolute;
    top: 0px;
    width: 100%;
    //z-index: 1;
    padding-top: 0px;
}

.padindex
{
    position: absolute;
    top: 12px;
    width: 100%;
    z-index: 1;
    padding-top: 12px;
    cursor:hand;
}
.padindex table
{
    //background-color: #FFFFFF;
    background-color: #F5F3EB;
    border-collapse: collapse;
}

.padindex td
{
    font-size: 14px;
}

.padindex td.activeindex
{
	font-size: 12px;
	line-height: 23px;
	color: #000000;
	background-image:url(../images/main/longbut.gif);
	background-repeat: no-repeat;
	height: 23px;
	width: 160px;
}

.padindex td.hiddenindex
{
	font-size: 12px;
	line-height: 23px;
	color: #000000;
	background-image: url(../images/main/longbut2.gif);
	background-repeat: no-repeat;
	height: 23px;
	width: 160px;
}

.padcontent
{
    top: 12px;
    position: absolute;
    width: 100%;
    z-index: 0;
    padding-top: 12px;
}

.padcontent table
{
    width: 100%;
    border-collapse: collapse;
}

.padcontent .topprompt
{
    height: 25px;
    width: 100%;
    text-align: right;
    background-color: #F5F3EB;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: #ACA899 solid 2px;
}

.padcontent div.activecontent
{
    top: 36px;
    position: absolute;
    width: 100%;
    visibility: visible;
    border: #ACA899 solid 1px;
    padding: 5px;
    vertical-align: top;
}

.notice
{
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.padcontent div.hiddencontent
{
    top: 36px;
    position: absolute;
    width:100%;
    visibility: hidden;
    border: #ACA899 solid 1px;
    padding: 5px;
    vertical-align: top;
}

#scrollbar
{
    margin: 6px;
    position: absolute;
    visibility: hidden;
}

#pageleft
{
    overflow:auto;
    text-align:left;
    width: 200px;
    height:453px;
    top:110px;
    left: 0px;
    margin: 5px;
}

#pagespan
{
    width: 10px;
    height: 100%;
    background-image: url(../image/mid2.gif);
    border: #ACA899 solid 0px;
}

#pagespantext
{
    color: blue;
    cursor: hand;
    height: 100px;
    padding-top:40px;
    background-color: #ECE9D8;
    font-family: Webdings;
    font-size: 8px;
}

#pageright
{
    overflow:auto;
    text-align:left;
    height:453px;
    width:750px;
    top:110px;
    left: 210px;
    margin: 5px;
}

#pagebottom
{
    height: 20px;
    padding-top: 4px;
    font-size: 12px;
    color: #808080;
}

#nav
{
    height:25px;
    width: 100%;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px
    BACKGROUND-IMAGE: url(../../images/main/mid2.jpg) repeat-y center top
}

#nav td
{
    color: #000888;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
}

#nav td a
{
    color: #000888;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

#nav a:hover
{
    color: #B30000;
}

.listarea
{
    overflow:auto;
    height:143px;
    text-align:left;
    border: 0px;
}

td.tablebody
{
    font-size: 13px;
    text-align: left;
    background-image: url(../../images/css/table_head.gif);
    background-color:#EEF5F2;
}
th
{
    background-image: url(../../images/css/table_head.gif);
    background-color: #46BD97;
    font-size: 13px;
    color:white;
    text-align: left;
    font-weight:bold;
}
.tablestyle
{
    margin:0px;
    border:1px solid #ACA899;
    padding:2px;
    background:#CCCCCC;
    line-height:normal;
}
.icon {font-family: "ו"; font-size: 12px; color: #3E4A59; padding-left: 0px; padding-right:0px }
.NOPRINT {}

.deptbutton { 
	border-right: #002D96 0px solid; 
	padding-right: 2px; 
	border-top: #002D96 0px solid; 
	padding-left: 2px; 
	font-size: 12px; 
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#3CB371); 
	border-left: #002D96 0px solid; 
	cursor: hand; 
	color: #104E8B; 
	padding-top: 2px; 
	border-bottom: #002D96 0px solid 
	}

.titleDiv{
    width:300px;
    height:20px;
    position:relative;
    background-color:#cc6600;
}

.out {
    width:450px;
    height:600px;
    position:relative;
    background-color:#11ff00;
    overflow-y:scroll;
}

.inputzdzx
{
    overflow:no;
    height:125px;
    text-align:left;
    border-top: #ACA899 solid 1px;
    border-left: #ACA899 solid 1px;
    border-right: #ACA899 solid 1px;
    border-bottom: #ACA899 solid 1px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.scrollarea_kftj
{
    overflow:auto;
    height:329px;
    font-size:14px;
    text-align:left;
    border-top: #ACA899 solid 1px;
    border-left: #ACA899 solid 1px;
    border-right: #ACA899 solid 1px;
    border-bottom: #ACA899 solid 1px;
    margin-top: 2px;
}
